.bgpic{
    height: 4.8rem;
    background: #fde25c;
    .setting{
        line-height: 2.08rem;
        span{
            float: right;
            margin-right:0.5rem; 
        }
    }
    .header{
           width: 2.08rem;
           height: 2.08rem;
           border-radius: 50%;
           background: #fff;
           position: absolute;
           top:0.9rem;
           left:4.35rem;
           z-index: 2;
    }
    .login{
        width: 9.8rem;
        height: 4.9rem;
        background: #fff;
        border-radius: 0.2rem;
        box-shadow: 0.14rem 0.14rem 0.8rem #e7e7e7;
        position: absolute;
        top:2.08rem;
        left: 0.5rem;
        .clicklogin{
            line-height: 1.26rem;
            font-size: 0.4rem;
            text-align: center;
            margin-top: 0.92rem;
        }
        ul{
            height: 1.62rem;
            display: flex;
            justify-content: space-between;
            padding: 0 0.32rem;
            margin:0.53rem 0;
            li{
                display: flex;
                &:last-child{
                    .line{
                        border:none;
                    }
                }
                .pic{
                    
                    .list{
                        line-height: 0.83rem;
                        text-align: center;
                        margin-bottom: 0.24rem;
                        font-size: 0.64rem;
                    }
                    .text{
                        line-height: 0.53rem;
                        text-align: center;
                        font-size: 0.3rem;
                    }
                }
                .line{
                   padding-left:0.4rem; 
                    width: 0.01rem;
                    margin: 0.3rem 0;
                    border-right:0.01rem solid #e6e6e6;
                    
                }
                

            }
        }
    }
}